body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width: 500px;
    height: 600px;
    background-color: #ffffff;
    padding-bottom: 2vh;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo {
    display: flex;
    flex-direction:row;
    justify-content: center;
    box-sizing:border-box;
    margin-bottom: 1vh;
}

.logo img{
    width: 20%;
}

h1, h4 {
    text-align:center;
}

h1 {
    margin-bottom: -20px;
}

h4 {
    margin-bottom: 0.5em;
}

.field-input {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vh;
}

.field-input input {
    width: 80%;
    height: 35px;
}

.field-tab {
    box-sizing: border-box;
    flex: 1;
}

.tab-links {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-links button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-links button:hover {
    background-color: #ddd;
}

.tab-links button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
    overflow: scroll;
    box-sizing: border-box;
    max-height: 25em;
    border: none;
}

.tabcontent::-webkit-scrollbar {
    display: none;
}

.tabcontent p {
    word-break: break-word;
    box-sizing: border-box;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.task {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background-color:#f1f1f1;
    margin-bottom: 1vh;
    align-items: center;
}

.task p {
    width: 75%;
    margin-left: 10px;
    padding: none;
}

.taskbtn {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.deletebtn, .changebtn, .addTaskBtn {
    background: none; 
    border: none;     
    padding: 0;       
    cursor: pointer;
}

.addTaskBtn img{
    width: 65%;
    object-fit: cover;  
    height: auto;
}

.addTaskBtn:active {
    transform: scale(0.95);
}

.chkbox {
    accent-color: green;
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

@media(max-width:500px){
    .wrapper {
        width: auto;
        height: auto;
    }
    .tab-links {
        display: flex;
        flex-direction: column;
    }
} 